/* ========== Global Formatting ========== */

body {
  background: #ffffff;
}

.container {
  opacity: 0;
  margin-left: 95px;
}

a.red {
  color: #D0021B;
  text-decoration: none;
}

a.red:hover {
  color: #ff6666;
}

a.cyan,span.cyan {
  color: #429EDB;
  text-decoration: none;
}

a.cyan:hover,span.cyan:hover{
  color: #76d5ff;
}

.strong {
  font-weight: bold;
}

a.strong {
  text-decoration: none;
}

a.black-cyan:hover {
  color: #429EDB;
}

.thin {
  font-family: 'HelveticaNeue-Thin';
  letter-spacing: 0.5px;
}

h2 {
  font-family: 'HelveticaNeue-Bold';
  font-size: 1em;
}

/*===============================*/



/* ========== Header ========== */

header {
  border-top: 5px #429EDB solid;
  margin-bottom: 15px;
}

header a {
  width: 180px;
  text-decoration: none;
}

.header-text {
  margin-left: 58px;
  margin-top: 20px;
  font-family: 'HelveticaNeue-Thin';
  font-size: 1.5em;
  color: #429EDB;
  line-height: 31px;
  letter-spacing: 1px;
  width: 180px;
}

.header-text:hover {
  color: #D0021B;
}

.nav-links-trigger {
  display: none;
}

.nav-links {
  display: none;
}


/*===============================*/

/* ========== Nav ========== */

nav {
  position: fixed;
  margin-right: 121px;
  left: auto;
  right: 0;
}

nav p {
  margin-bottom: 0px;
}

nav i {
  color: #429EDB;
  font-size: 1.5em;
}

nav i:hover {
  color: #76d5ff;
}

/*.nav-hr {
  margin-top: 1px;
  margin-bottom: 0px;
}*/

/*===============================*/

/* ========== Home ========== */

.home-header h1 {
  font-family: 'Athelas-Bold';
  font-size: 50px;
  color: #000000;
  line-height: 10px;
  letter-spacing: 1px;
  margin-top: 4%;
  margin-bottom: 2.5%;
}

.home-header h2 {
  font-family: 'HelveticaNeue-Thin';
  font-size: 30px;
  color: #000000;
  line-height: 36px;
  letter-spacing: 1px;
  margin-bottom: 6%;
}

.articles {
  padding-top: 9%;
  margin-left: 6%;
  width: 80%;
}

.grid-left {
  width: 50%;
  float: left;
}

.grid-right {
  width: 50%;
  float: right;
}

.ninety-note {
  color: #429EDB;
  font-size: .75em;
  opacity: 0.75;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.25em;
  position: absolute;
  text-transform: uppercase;
  z-index: 1986;
  top: 15.5em;
  left: -1.5%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/*===============================*/

/* ========== About Me ========== */

.info-panel {
  /*margin-top: 50px;*/
}

.info-panel h3 {
  font-family: 'HelveticaNeue-Bold';
  font-size: 1em;
  color: #333333;
  line-height: 35px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.info-panel p {
  font-family: 'Athelas';
  font-size: 20px;
  color: #4A4A4A;
  line-height: 1.2em;
}


/*===============================*/

/* ========== Portfolio ========== */

/* TIMELY */

#timely a {
  color: #53aad6;
}

#timely a:hover {
  color: #66ccff;
}

#timely img {
  width: 100%;
}


/* CARBOY */

#carboy {
  margin-right: 30px;
}

#carboy h1 {
  margin-left: 100px;
}

#carboy p {
  text-align: left;
  margin-left: 125px;
}

#carboy a {
  color: #ff0000;
}

#carboy a:hover {
  color: #800000;
}

.brewerydb {
  width: 40%;
}

/*===============================*/

/* FOOTER */

#footer {
  margin-bottom: 30px;
  height: 100%;
}

#footer div {
  text-align: center;
  height: 50px;
}

.stars {
  color: #0000ff;
}

.stripes {
  color: #ff0000;
}

/* ################## */
/* #### Parallax #### */
/* ################## */

ul {
  margin: 0;
  padding: 0;
}

.parallax-background {
  height: 715px;
}

ul li {
  list-style: none;
  overflow: hidden;
  height: 600px;
  position:relative;
  margin-bottom: 0px;
}

ul li .text-intro {
  position: absolute;
  top: 175px;
  left: 723px;
  color: #1a1a1a;
  font-family: 'Helvetica Neue;'
}


/* ###################################### */
/* #### Mobile Responsive Formatting #### */
/* ###################################### */

@media (max-width: 768px) {

  /* ===== Global Attributes===== */

  .container {
    margin-left: 10px;
  }

  /* ============================ */

  /* ========== Header ========== */

  header {
    background: #6B7C92;
    border: 1px solid #ffffff;
    margin-bottom: 15px;
  }

  header a {
    text-decoration: none;
  }

  .header-text:hover {
    color: #191919;
    font-weight: bold;
    font-size: 1.3em;
  }

  .header-text {
    margin-left: 15px;
    margin-top: 13px;
    font-family: 'HelveticaNeue-Thin';
    font-size: 1.5em;
    color: #ffffff;
    line-height: 31px;
    letter-spacing: 1px;
    
  }

  .mobile-navigation .nav-links-trigger {
    font-family: 'HelveticaNeue-Thin';
    font-size: 1.5em;
    background: #6B7C92;
    border: none;
    padding: 15px;
    color: #cccccc;
    font-weight: normal;
    text-shadow: none;
    position: absolute;
    top: 0px;
    right: 2px;
    margin-right: 0;
    display: inline;
  }

  .nav-links-trigger:hover {
    background: #505e6f;
  }

  .nav-links-trigger:active {
    color: #cccccc;
    background: #465160;
  }

  .nav-links-trigger.nav-bar-open {
    background: #3F5164;
  }

  .nav-links.hidden {
    display: none;
  }

  .nav-links {
    display: list-item;
    background: #3F5164;
    position: absolute;
    right: 0;
    top: 4em;
    border-right: 1px white solid;
    z-index: 2000;
    opacity: 0;
  }

  .nav-links li {
    height: 100%;
    padding: 1em;
  }

  .nav-links a {
    color: #cccccc;
  }

  .nav-links li:hover {
    background: #6784a5;
  }

  .nav-links li:hover a {
    color: #e6e6e6;
  }

  .articles {
    margin-left: 0%;
    width: 93%;
  }

  .home-header h1 {
    display: none;
  }

  .home-header h2 {
    padding-top: 2%;
    font-size: 1.5em;
    line-height: 1.2em;
  }

  .ninety-note {
    font-weight: lighter;
    top: 6.5em;
    left: 100%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .grid-left, .grid-right {
    width: 100%;
  }


  /*===============================*/

  /* ========== Nav ========== */

  nav {
    display: none;
  }

  /*===============================*/


}