@import url(http://fonts.googleapis.com/css?family=Lato:300|Monoton);

body {
  margin: 0;
  padding: 0;
  background-color: #2b2b34;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div h1 {
  color: #ffffff;
}

.sticky{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; 
  opacity: .75;
}

.container {
  background-color: #2a2b35;
  box-shadow: 0px 0px 22px #000000;
}

ul {
  margin: 0;
  padding: 0;
}

.parallax-background {
  height: 715px;
}

ul li {
  list-style: none;
  overflow: hidden;
  height: 600px;
  position:relative;
  margin-bottom: 0px;
}

ul li .text-intro {
  position: absolute;
  top: 175px;
  left: 723px;
  color: #ffffff;
  font-family: Helvetica Neue;
}

a {
  color: #00ffff;
  text-decoration: none;
}

a:hover {
  color: #008d8d;
}

/* HEADER */

.header {
  color: #0953a0;
  background-image: url('/images/header/new_york_street.jpg');
  margin-bottom: 0px;
  padding: 20px 0 20px 0;
  height: 500px;
}

.header h1 {
  margin-top: 180px;
  font-family: 'Monoton', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #ffffff;
}

.header h2 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #ffffff;
}

.chevrons img {
  margin-top: 110px;
  background-color: rgba(25,0,0,0.53);
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-radius: 50px;
}

/* CARBOY */

.carboy {
  margin-right: 30px;
}

.carboy h1 {
  margin-left: 100px;
}

.carboy p {
  text-align: left;
  margin-bottom: 0px;
  margin-left: 125px;
}

.carboy a {
  color: #ff0000;
}

.carboy a:hover {
  color: #800000;
}

/* PHOTOS */


.timely img {
  width: 100%;
}

.brewerydb {
  width: 40%;
}
