body {
  background-image: url('/assets/background.png');
  background-size: cover;
  background-position: fixed;
  background-repeat: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
  width: 745px;
  margin: 0 auto;
  margin-top: 100px;
  height: 541px;
  background-image: url('/assets/pokedex.png');
  background-position: fixed;
  background-repeat: none;
}

.pokemon_list_view ul {
  position: absolute;
  background-color: white;
}

li {
  list-style: none;  
}

#pokemon_container {
  position: fixed;
  top: 564px;
  left: 788px;
}

#pokemon_select {
  background-color: #ff8000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
  border: 2px solid black;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#view_in_pokedex_btn {
  background-color: #ff8000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
  border: 2px solid black;
  border-radius: 7px;
}

#view_in_pokedex_btn:hover {
  background-color: #ffa85a;
}

#view_in_pokedex_btn:active {
  background-color: #af5801;
}

#pokemon_headshot {
  text-align: center;
  position: fixed;
  padding: 10px;
  border-radius: 7px;
  top: 263px;
  left: 797px;
  width: 218px;
  height: 169px;
  overflow-x: hidden;
  overflow: scroll;
}

#pokemon_headshot h1 {
  margin: 0;
}

#pokemon_stats {
  position: fixed;
  top: 250px;
  left: 402px;
  border-radius: 11px;
  width: 260px;
  height: 175px;
  overflow: scroll;
}

#pokemon_stats ul {
  margin-top: 3px;
  padding-left: 2px;
}

#pokemon_stats input {
  background-color: rgba(0,0,0,.25);
  border: none;
  padding: 5px;
  color: #ffffff;
  outline: none;
}