<div id="pokemon_container">
  <select id="pokemon_select">
  </select>
  <button id="view_in_pokedex_btn">View in Pokedex</button>
  <button id="add_new_pokemon_btn">Create Pokemon</button>
</div>

<script>
  window.scrollReveal = new scrollReveal();
</script>
