<script id="pokemon_template" type="text/template">
  <tr>
     <td>
      <img src=<%= image_url %> />
     </td>
     <td>
     <h1><%= name %></h1>
     </td>
 </tr>
 <tr>
   <td>
    </td>
      <td>

     </td>
 </tr>
</script>
